version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: vehicles
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass1234

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d vehicles"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
